{% extends 'base.html.twig' %}

{% block title %}Data Manager{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/submitDatas.js')}}"></script>
{% endblock %}
{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <select name="pick" id="pickList">
                    <option value="null">- Select -</option>
                    {% for champion in champions %}
                        <option value="{{  champion.name }}">{{  champion.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-2">
                <p>Champion encountered</p>
            </div>
            <div class="col-2">
                <p>Won games</p>
            </div>
            <div class="col-2">
                <p>Total games</p>
            </div>
            <div class="col-2">
                <p>Won Lanes</p>
            </div>
            <div class="col-2">
                <p>total Lanes (even not counted)</p>
            </div>
            {% for pick in picks %}

            {% set picked = pick.champion.name %}
            <div id="{{ picked }}" class="d-none">
                <div class="col-12">

                    <h3>{{ picked }}</h3>

                </div>
        <form id = "form">
        <div class="row">
<div class="col-12">
    <a class="btn btn-primary" id="submit">Submit</a>
</div>
                {% for champion in champions %}
            <div class="col-2">
                {% set opponent = champion.name %}
                <p>{{ opponent }}</p>
            </div>

            <div class="col-10 data-form">
                <input type="number" id="{{ champion.name }} vs {{ picked}} WG" name="{{ champion.name }} vs {{ picked}} WG"
                       minlength="0" size="10" value="{{ datas[picked][opponent].wonGames }}">
                <input type="number" id="{{ champion.name }} vs {{ picked}} TG" name="{{ champion.name }} vs {{ picked}} TG"
                       minlength="0"  size="10" value="{{ datas[picked][opponent].totalGames }}">
                <input type="number" id="{{ champion.name }} vs {{ picked}} WL" name="{{ champion.name }} vs {{ picked}} WL"
                       minlength="0"  size="10" value="{{ datas[picked][opponent].wonLanes }}">
                <input type="number" id="{{ champion.name }} vs {{ picked}} TL" name="{{ champion.name }} vs {{ picked}} TL"
                       minlength="0"  size="10" value="{{ datas[picked][opponent].totalLanes }}">
            </div>

                {% endfor %}
        </div>
        </form>
                {% endfor %}
            </div></div>
        </section>


{% endblock %}
